:root {
	--white-color: #f2f2f2;
	--black-color: #101010;
	--grey-color: #8c8c8c;
}

html {
	height: 100%;
	background-color: var(--white-color);
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	font-family: Sans-Serif; 
	flex-direction: column;
}

hr {
	width: 60%;
}

.content {
	height: 100%;
	max-width: 40rem;
	overflow: hidden;
	padding: 0.5rem 0.5rem 2rem 0.5rem;
	word-wrap: break-word;
	line-height: 1.5rem;
}

.content-head {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.nav-bar {
	background-color: var(--black-color);
	list-style-type: none;
	width: 100%;
	height: 5rem;
  	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-li {
	display: flex;
	align-items: center;
	height: 100%;
}

.nav-li-right {
	float: left;
	margin-left: 0;
}

.nav-li-left {
	float: right;
	margin-right: 20%;
}

.nav-a {
	color: var(--white-color);
	text-decoration: none;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 1.5rem;
}

.nav-a:hover {
	color: var(--grey-color);
}

.main-text-container {
	font-size: 1.3rem;
	line-height: 2rem;
}

table {
	border-collapse: collapse;
	width: 50%;
	margin: auto;
}

th, td {
	border: 1px solid var(--black-color);
	padding: 8px;
	text-align: center;
}

.title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

/* figure names */
.img-container div {
	color: var(--grey-color);
}

.header-text {
	color: var(--grey-color);
	font-size: 1.3rem;
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
	.content {
		max-width: 90%;
	}

	img {
		max-width: 90%;
	}

	h1 {
		font-size: 2rem;
		line-height: 2.2rem;
	}

	h2 {
		font-size: 1.7rem;
		line-height: 1.9rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}